<h1>Task List</h1>
<h3> Adicionar nova tarefa 
<%= link_to 'Novo',new_task_path()%> </h3>
<h4>Suas tarefas são: </h4>

<%@tasks.each do |task|%>
  <%= task.description %> 
  <!-- Caminho para editar o objeto em especifico-->
  <%= link_to 'Editar', edit_task_path(task) %>
  <%= link_to 'Apagar', task_path(task), method: :delete,
  data: { confirm: 'Quer apagar está tarefa?' } %>
  <br>
<%end%>

